.galleryContainer {
  height: 400px; width: 100%;
  background-clip: 'cover'; background-position: center; background-repeat: no-repeat;
  display: flex; justify-content: space-between; align-items: center;
  transition: all .2s ease-in-out;
  margin-inline: auto;
}

.paddingInner {
    padding-inline: 2%; box-sizing: border-box;
}

.arrows {
  height: 80%; width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex; 
  justify-content: center; align-items: center;
  transition: all .2s ease-in-out;
}

.arrows:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.arrows {
  height: 80%; width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex; 
  justify-content: center; align-items: center;
  transition: all .2s ease-in-out;
}

.arrows:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.imageOne {
  width: 60%;
  transition: all .2s ease-in-out;
}

.imageTwo {
  width: 70%;
  transition: all .2s ease-in-out;
}

.imageThree {
  width: 50%;
  transition: all .2s ease-in-out;
}

.imageFour {
  width: 60%;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 900px) {
    .topSection {
      width: 80%;
    }
}